<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Floor</title>
</head>
<body>
<h1>Create New Floor</h1>

<form th:action="@{/malls/{mallId}/floors(mallId=${mallId})}" th:object="${floor}" method="post">
    <label>Floor Number:</label>
    <input type="number" th:field="*{number}" required />

    <input type="hidden" th:field="*{id}" />

    <button type="submit">Erstellen</button>
</form>

<a th:href="@{/malls}" xmlns:th="http://www.w3.org/1999/xhtml">Zuruck zur Liste</a>

</body>
</html>