<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Maintenance Staff</title>
</head>
<body>
<h1>Create Maintenance Staff</h1>
<form th:action="@{/maintenance_staff}" th:object="${staff}" method="post">
    <label>Name:</label>
    <input type="text" th:field="*{name}" /><br>

    <label>Salary:</label>
    <input type="number" th:field="*{salary}" /><br>

    <label>Type:</label>
    <select th:field="*{type}">
        <option th:value="Electrical" th:text="'Electrical'"></option>
        <option th:value="Cleaning" th:text="'Cleaning'"></option>
    </select><br><br>

    <button type="submit">Save</button>
</form>
<a th:href="@{/maintenance_staff}">Back to Staff List</a>
</body>
</html>
