<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Maintenance Staff</title>
</head>
<body>
<h1>Maintenance Staff List</h1>
<a th:href="@{/maintenance_staff/new}">Add New Staff</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Salary</th>
        <th>Assignments</th>
        <th>Actions</th>
    </tr>
    <tr th:each="staff : ${staffList}">
        <td th:text="${staff.id}"></td>
        <td th:text="${staff.name}"></td>
        <td th:text="${staff.type}"></td>
        <td th:text="${staff.salary}"></td>
        <td>
            <span th:each="a : ${staff.assignments}" th:text="${a} + ' '"></span>
        </td>
        <td>
            <form th:action="@{'/maintenance_staff/' + ${staff.id} + '/delete'}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>
