<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Electrical Asset</title>
</head>
<body>
<h1 th:text="${asset.id} != null ? 'Edit Electrical Asset' : 'Create Electrical Asset'"></h1>

<form th:action="${asset.id} != null ? @{'/assets/' + ${asset.id} + '/update'} : @{/assets}"
      th:object="${asset}" method="post">

    <label>Floor:</label>
    <select th:field="*{floor}">
        <option value="">-- Select Floor --</option>
        <option th:each="f : ${floors}"
                th:value="${f.id}"
                th:text="'Floor ' + ${f.number} + ' (in ' + ${f.mall.name} + ')'"></option>
    </select>
    <br>

    <label>Type:</label>
    <select th:field="*{type}">
        <option value="Lift">Lift</option>
        <option value="AC">AC</option>
        <option value="Light">Light</option>
        <option value="Escalator">Escalator</option>
    </select><br>

    <label>Status:</label>
    <select th:field="*{status}">
        <option value="Working">Working</option>
        <option value="Down">Down</option>
    </select><br><br>

    <button type="submit">Save Asset</button>
</form>
</body>
</html>
