<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Security Staff</title>
</head>
<body>
<h1>Security Staff List</h1>
<a th:href="@{/security_staff/new}">Add New Staff</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Badge No</th>
        <th>Salary</th>
        <th>Assignments</th> <th>Actions</th>
    </tr>
    <tr th:each="staff : ${staffList}">
        <td th:text="${staff.id}"></td>
        <td th:text="${staff.name}"></td>
        <td th:text="${staff.badgeNo}"></td>
        <td th:text="${staff.salary}"></td>

        <td>
            <a th:href="@{'/assignments/staff/' + ${staff.id}}">
                <button type="button" th:text="'View (' + ${#lists.size(staff.assignments)} + ')'"></button>
            </a>
        </td>

        <td>
            <a th:href="@{'/security_staff/' + ${staff.id} + '/update'}">
                <button type="button">Update Staff</button>
            </a>
            <form th:action="@{'/security_staff/' + ${staff.id} + '/delete'}" method="post" style="display:inline;">
                <button type="submit">Delete Staff</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>