<table border="1">
    <tr>
        <th>ID</th>
        <th>Number</th>
        <th>Shops</th>
        <th>Tasks</th>
        <th>Electricals</th>
        <th>Assignments</th>
        <th>Actions</th>
    </tr>
    <tr th:each="floor : ${floors}">
        <td th:text="${floor.id}"></td>
        <td th:text="${floor.number}"></td>

        <td>
            <a th:href="@{'/shops/floor/' + ${floor.id}}">
                <button type="button" th:text="'View (' + ${#lists.size(floor.shops)} + ')'"></button>
            </a>
        </td>

        <td>
            <a th:href="@{'/tasks/floor/' + ${floor.id}}">
                <button type="button" th:text="'View (' + ${#lists.size(floor.tasks)} + ')'"></button>
            </a>
        </td>

        <td>
            <a th:href="@{'/electrical-asset/floor/' + ${floor.id}}">
                <button type="button" th:text="'View (' + ${#lists.size(floor.electricals)} + ')'"></button>
            </a>
        </td>

        <td>
            <a th:href="@{'/assignments/floor/' + ${floor.id}}">
                <button type="button" th:text="'View (' + ${#lists.size(floor.assignments)} + ')'"></button>
            </a>
        </td>

        <td>
            <a th:href="@{'/floors/' + ${floor.id} + '/update'}">
                <button type="button">Update Floor</button>
            </a>
            <form th:action="@{'/floors/' + ${floor.id} + '/delete'}" method="post" style="display:inline;">
                <button type="submit">Delete Floor</button>
            </form>
        </td>
    </tr>
</table>